body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.sidetitle {
    width: 190px;
    height: 80px;
    background: #43a047;
    display: inline-block;
}

h1 {
  color: white;
  padding-left: 20px;
  font-family: Arial;
}


.title {
  width: 100%;
  height: 80px;
  background: #66BB6A;
  display: inline-block;
  position: absolute;
  font-size: 18px;
}

.imgbox {
  height: 130px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  background: #BEBEBE;
}

.sidebar {
  width: 190px;
  height: 100%;
  position: absolute;
  background: #ECECEC;

}

.selection P{
  color: #BEBEBE;
  text-align: center;
  font-size: 22px;
  border-top-style: solid;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}
